/*comentario em CSS*/
/*Seletores de CSS*/

*/


ul {
    color:purple;
}
/*codigo da cor hexadecimal*/
body {
    background: linear-gradient(red)
 
  }
  
div{
    background-color: rgb(255, 255, 255);
}

p {
    color:blue;             /* cor da fonte (texto) */
    background-color:white;  /* cor de fundo */
  }
  