.div1 {
    width: 100%;
    height: 150px;
    background-color: #4682b4; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  
  .div2 {
    width: 400px;
    height: 80px;
    padding: 20px;
    background-color: #fff; 
    text-align: center;
    margin: 0 auto;
    display: block; 
    }