.div1 {
    width: 400px;
    height: 300px;
    background-color: rgb(106, 168, 255);

    position: relative;
}

.div2 {
    width: 100px;
    height: 100px;
    background-color: rgb(32, 215, 81);
    position: absolute; bottom: 0; right: 0;
}