p {
    font-size: 16px; /* tamanho fixo */
    width: 60%;
    margin: 0 auto;
    
    }
    div{
        border: 1px, solid black;
        width: 50%; 
        text-align: center;
        margin: 0 auto;
        border-radius: 15px;
    }
    body {
    font-family:Arial, Helvetica, sans-serif;
    

    }
    h1{
        background-color: white;
        padding:2%;
        
    }
  
    body {
      
        background-color: rgb(255, 255, 255);
        animation: mudarCor 6s infinite alternate;
      }
      
      @keyframes mudarCor {
        0% { background-color: rgb(214, 5, 5); }
        50% { background-color: rgb(15, 179, 255); }
        100% { background-color: rgb(5, 186, 14); }
      }   
   
.messi
{
    height: 250px;
    padding: 25px;
    background-color: white;
}


.cr7
 {
background-color: rgb(255, 255, 255);
height: 325px;
padding: 25px;
 }

.messi10
{
    background-color: white;
    padding: 40px; 
}

 .cr72
 {
    background-color: white;
    padding: 40px;
 }

img
{
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);
}
