 div{
    border: 2px solid black;
 }
 
 .div1 {
    width: 120px;
    height:40px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(216, 27, 27);
    display: inline-block;
   
    
}
.div2 {
    width: 120px;
    height:40px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(216, 27, 27);
    display: inline-block;
    
}
.div3 {
    width: 120px;
    height:40px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(216, 27, 27);
    display: inline-block;
    
}
.div4 {
    width: 120px;
    height:40px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(216, 27, 27);
    display: inline-block;
    }
