/*css do cardapio*/


body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;; 
  }

  body {
      
    background-color: rgb(255, 255, 255);
    animation: mudarCor 6s infinite alternate;
  }
  
  @keyframes mudarCor {
    0% { background-color: rgb(229, 185, 132); }
    50% { background-color: rgb(239, 199, 138); }
    100% { background-color: rgb(224, 168, 103); }
  } 

  .div1 {
    height: 60px;
    background-color: orange;
    text-align: center;
    position: sticky; top: 0;
    
}

.div2 {
    height: 60px;
    background-color: rgb(166, 114, 16);
    text-align: auto;
    position: sticky; top: 0;
    block-size: 40px;
    color: rgb(255, 255, 255);
    align-content: center;
}

a{
    color: beige;
    text-decoration: none;
    margin: 0px 15px;
    
}

.texto1 {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    width: 850px;
    height: 330px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
    
}

.texto2 {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    width: 850px;
    height: 330px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
    
}

.texto3 {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    width: 850px;
    height: 330px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
    
}

.texto4 {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    width: 850px;
    height: 330px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
    
}

.texto5 {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    width: 850px;
    height: 330px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
    
}

.texto6 {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    width: 850px;
    height: 330px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
    
}

a {
    color: rgb(0, 0, 0);
}