/* css da pagina inicial*/

p {
    font-size: 16px; /* tamanho fixo */
    width: 60%;
    margin: 0 auto;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
      
        background-color: rgb(255, 255, 255);
        animation: mudarCor 6s infinite alternate;
      }
      
      @keyframes mudarCor {
        0% { background-color: rgb(255, 154, 32); }
        50% { background-color: rgb(226, 183, 118); }
        100% { background-color: rgb(255, 202, 142); }
      }   

.div1 {
    height: 60px;
    background-color: orange;
    text-align: center;
    position: sticky; top: 0;
    
}

.div2 {
    height: 60px;
    background-color: rgb(166, 114, 16);
    text-align: auto;
    position: sticky; top: 0;
    block-size: 40px;
    color: rgb(255, 255, 255);
    align-content: center;
}
a{
    color: beige;
    text-decoration: none;
    margin: 0px 15px;
    
}
    
.texto {
    background-color: white;
    padding: 40px;
 }

 .div5 {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    text-align: center;
    width: 690px;
    height: 180px;
    border-radius: 10px;
    border: 1.5px solid black;
    margin: 0 auto;
    
 }

 /*aqui comeca o css do cardapio*/

