.div1 {
    height: 60px;
    background-color: orange;
    text-align: center;
    position: sticky; top: 0;
    
}

.div2 {
    height: 60px;
    background-color: rgb(166, 114, 16);
    text-align: auto;
    position: sticky; top: 0;
    block-size: 40px;
    color: rgb(255, 255, 255);
    align-content: center;
}
a{
    color: beige;
    text-decoration: none;
    margin: 0px 15px;
    
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;; 
  }

  body {
      
    background-color: rgb(255, 255, 255);
    animation: mudarCor 6s infinite alternate;
  }
  
  @keyframes mudarCor {
    0% { background-color: rgb(255, 154, 32); }
    50% { background-color: rgb(248, 174, 62); }
    100% { background-color: rgb(224, 168, 103); }
  } 
  h1 {
    color: rgb(0, 0, 0);
  }

  .formulario {
    text-align: center;
    margin: 150px;
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
    text-align: center;
    width: 320px;
    height: 280px;
    border-radius: 10px;
    border: 1.5px solid black;
    padding: 10px;
  }
