.div1 {
    height: 60px;
    background-color: orange;
    text-align: center;
    position: sticky; top: 0;
    
}

.div2 {
    height: 60px;
    background-color: rgb(166, 114, 16);
    text-align: auto;
    position: sticky; top: 0;
    block-size: 40px;
    color: rgb(218, 176, 125);
    align-content: center;
}
a{
    color: rgb(245, 238, 220);
    text-decoration: none;
    margin: 0px 15px;
    
}

body {
      
    background-color: rgb(255, 255, 255);
    animation: mudarCor 6s infinite alternate;
  }
  
  @keyframes mudarCor {
    0% { background-color: rgb(255, 154, 32); }
    50% { background-color: rgb(248, 174, 62); }
    100% { background-color: rgb(224, 168, 103); }
  } 

table {
    color: rgb(0, 0, 0);
    background-color: rgb(224, 197, 123);
    border-radius: 10px;

}

tr:nth-child(even) {
    background-color: rgb(213, 179, 133);
}
tr:nth-child(odd) {
    background-color: rgb(153, 126, 88);
}


body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    }