.div{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}
    width: 500px;
    margin: 0 auto;

.div{
   width: 150px;
   height: 100px;
   text-align: center;
   align-content: center;
   margin: 4px;
}

.div>*:hover {
   color: white;
}

.div1{
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(255, 0, 0);
    display: inline-block
}

.div2{
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(0, 255, 76);
    display: inline-block
}


.div3{
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(234, 0, 255);
    display: inline-block
}


.div4{
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(221, 255, 0);
    display: inline-block
}

.div5{
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(0, 255, 255);
    display: inline-block
}


.div6{
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 15px;
    background-color: black;
    display: inline-block
}


.div7{
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(13, 0, 255);
    display: inline-block
}


.div8{
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(107, 122, 164);
    display: inline-block
}


.div9{
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(255, 136, 0);
    display: inline-block
}
