.div {
    width: 300px;
    height:200px;
    margin: 10px;
    padding: 15px;
    background-color: black;
    display: inline-block
}

.div2{
    width: 300px;
    height:200px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(255, 0, 0);
    display: inline-block
}

  