.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: lightgray;
    text-align: center;
}
.menu{
    position: static;
    width: 1000px;
    height: 3500px;
}
.conteudo{
    display: inline-block;
    position: absolute;
    font-size: 20px;
    left: 500px;
    top: 0;
}
.menu{
    margin-top: 100px;
    display: inline-block;
    position: sticky;
    top: 60px;
    background-color: rgb(33, 31, 166);
    width: 450px;
    height: 600px;
    font-size: 20px;
}

